@using SiteSystem.ViewModels

@model CommentViewModels

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>
}

<h2>Edit Comment</h2>

@Html.AntiForgeryToken()
@using (Html.BeginForm("Edit", "Comment", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.Topic.Id)
    </div>
    <div>
        @Html.LabelFor(model => model.Text)
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
    </div><br />

    <input type="submit" value="Edit" class="btn btn-primary btn-large" />
    @Html.ActionLink("Cancel", "Info", "Topic", new { id = Model.Topic.Id }, new { @class = "btn btn-primary btn-large" })
}


