@using SiteSystem.Wrappers;

@model ForumInfoWrapper

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Model.ForumTopics)
            {
                <tr>
                    <th>
                        <div><h3>@Html.ActionLink(topic.TopicName, "Info", "Topic", new { @topic.Id }, null)</h3></div>
                        <div>Created by: @topic.User.UserName on @topic.DateCreated</div>
                    </th>
                    <th>@topic.Comments.Count</th>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.ForumTopics.HasPreviousPage && Model.ForumTopics.HasNextPage)
{
    <div>
        @Ajax.RouteLink(
            linkText: "<<<",
            routeName: "TopicPaging",
            routeValues: new { id = Model.ForumId, page = (Model.ForumTopics.PageIndex - 1) },
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "topic-list-container",
                InsertionMode = InsertionMode.Replace,
            })
        @Ajax.RouteLink(
            linkText: ">>>",
            routeName: "TopicPaging",
            routeValues: new { id = Model.ForumId, page = (Model.ForumTopics.PageIndex + 1) },
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "topic-list-container",
                InsertionMode = InsertionMode.Replace,
            })
    </div>
}
else
{
    if (Model.ForumTopics.HasPreviousPage)
    {
        <div>
            @Ajax.RouteLink(
                linkText: "<<<",
                routeName: "TopicPaging",
                routeValues: new { id = Model.ForumId, page = (Model.ForumTopics.PageIndex - 1) },
                ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "topic-list-container",
                    InsertionMode = InsertionMode.Replace,
                })
        </div>
    }

    if (Model.ForumTopics.HasNextPage)
    {
        <div>
            @Ajax.RouteLink(
                linkText: ">>>",
                routeName: "TopicPaging",
                routeValues: new { id = Model.ForumId, page = (Model.ForumTopics.PageIndex + 1) },
                ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "topic-list-container",
                    InsertionMode = InsertionMode.Replace,
                })
        </div>
    }
}
